body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  /* Flex box from MI 349 */
  header {
    background-color: #333;
    color: #fff;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .experiment-series {
    margin-bottom: 20px;
  }
  body, h1, h2, h3, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .experiment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .experiment {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .experiment img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .experiment span {
    display: block;
    margin-top: 10px;
  }
  
  .experiment-details {
    flex-basis: 100%;
    background-color: #fff;
    padding: 20px;
    border-left: 10px solid #005A9C;
  }
  
  @media (max-width: 768px) {
    .experiment-series {
      flex-basis: 100%;
    }
    
    .experiment-grid {
      grid-template-columns: 1fr;
    }